<div class='containter'>
  <nav class="globalnav-wrap">
    <ul class="globalnav menuitem">
      <li class='menu-font'>Home</li>
      <li class='menu-font'>Product</li>
      <li class='menu-font'>About</li>
      <li class='menu-font'>Support</li>
      <li class="dropdown-btn position-relative">
        <i class="fas fa-shopping-cart fa-lg position-absolute top-50 start-50 translate-middle"></i>
        <ul class="dropdown">
          <li><a href="#">ドロップダウンメニュー</a></li>
          <li><a href="#">ドロップダウンメニュー</a></li>
          <li><a href="#">ドロップダウンメニュー</a></li>
          <li><a href="#">ドロップダウンメニュー</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>